@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.row1{
    background-color: darkblue;
    color: white;
    font-family: "Poppins";
}
.table{
    width: 1000px;
    height: 200px;
    border: solid 1px white;
    border-radius: 1em;
    overflow: hidden;
    border-collapse: collapse;
}
td,th{
    padding: 0.5em;
    text-align: left;
}
tr:nth-child(even){
    background-color: lightgray;
}